package btc

import (
	"encoding/base64"
	"math/big"

	"github.com/cosmos/cosmos-sdk/crypto/codec"
	"github.com/rs/zerolog"

  {{- range $chain, $pkg := . }}
  {{ $chain }}ec "{{ $pkg }}"
  {{- end }}

	"github.com/thornadocash/go-thornado/bifrost/frost"
	"github.com/thornadocash/go-thornado/common"
	"github.com/thornadocash/go-thornado/common/cosmos"
)

{{- range $chain, $pkg := . }}

type frostSignable{{ ToUpper $chain }} struct {
	vaultPubKey    common.PubKey
	frostKeyManager frost.ThornadoKeyManager
	log           zerolog.Logger
}

func newFrostSignable{{ ToUpper $chain }}(vaultPubKey common.PubKey, frostKeyManager frost.ThornadoKeyManager, log zerolog.Logger) *frostSignable{{ ToUpper $chain }} {
	return &frostSignable{{ ToUpper $chain }}{
		vaultPubKey:    vaultPubKey,
		frostKeyManager: frostKeyManager,
		log:           log,
	}
}

{{- if eq $chain "bch" }}
func (ts *frostSignable{{ ToUpper $chain }}) SignECDSA(payload []byte) (*{{ $chain }}ec.Signature, error) {
{{- else }}
func (ts *frostSignable{{ ToUpper $chain }}) Sign(payload []byte) (*{{ $chain }}ec.Signature, error) {
{{- end }}
	ts.log.Info().Msgf("msg to sign: %s", base64.StdEncoding.EncodeToString(payload))
	result, _, err := ts.frostKeyManager.RemoteSign(payload, common.SigningAlgoSecp256k1, ts.vaultPubKey.String())
	if err != nil {
		return nil, err
	}
	var sig {{ $chain }}ec.Signature
	sig.R = new(big.Int).SetBytes(result[:32])
	sig.S = new(big.Int).SetBytes(result[32:])

	// verify the signature
	if sig.Verify(payload, ts.GetPubKey()) {
		ts.log.Info().Msg("we can verify the signature successfully")
	} else {
		ts.log.Info().Msg("the signature can't be verified")
	}

	return &sig, nil
}

func (ts *frostSignable{{ ToUpper $chain }}) GetPubKey() *{{ $chain }}ec.PublicKey {
	cpk, err := cosmos.GetPubKeyFromBech32(cosmos.Bech32PubKeyTypeAccPub, ts.vaultPubKey.String())
	if err != nil {
		ts.log.Err(err).Str("pubkey", ts.vaultPubKey.String()).Msg("fail to get pubic key from the bech32 vault public key string")
		return nil
	}
	secpPubKey, err := codec.ToCmtPubKeyInterface(cpk)
	if err != nil {
		ts.log.Err(err).Msgf("%s is not a secp256 k1 public key", ts.vaultPubKey)
		return nil
	}
	newPubkey, err := {{ $chain }}ec.ParsePubKey(secpPubKey.Bytes(), {{ $chain }}ec.S256())
	if err != nil {
		ts.log.Err(err).Msg("fail to parse public key")
		return nil
	}
	return newPubkey
}

{{- end }}
