/*
Thornode API

Thornode REST API.

Contact: devs@thorchain.org
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// LimitOrderApiService LimitOrderApi service
type LimitOrderApiService service

type ApiQuotelimitRequest struct {
	ctx context.Context
	ApiService *LimitOrderApiService
	height *int64
	fromAsset *string
	toAsset *string
	amount *int64
	destination *string
	refundAddress *string
	customTtl *int64
	streamingQuantity *int64
	affiliateBps *int64
	affiliate *string
}

// optional block height, defaults to current tip
func (r ApiQuotelimitRequest) Height(height int64) ApiQuotelimitRequest {
	r.height = &height
	return r
}

// the source asset
func (r ApiQuotelimitRequest) FromAsset(fromAsset string) ApiQuotelimitRequest {
	r.fromAsset = &fromAsset
	return r
}

// the target asset
func (r ApiQuotelimitRequest) ToAsset(toAsset string) ApiQuotelimitRequest {
	r.toAsset = &toAsset
	return r
}

// the source asset amount in 1e8 decimals
func (r ApiQuotelimitRequest) Amount(amount int64) ApiQuotelimitRequest {
	r.amount = &amount
	return r
}

// the destination address, required to generate memo
func (r ApiQuotelimitRequest) Destination(destination string) ApiQuotelimitRequest {
	r.destination = &destination
	return r
}

// the refund address, refunds will be sent here if the swap fails
func (r ApiQuotelimitRequest) RefundAddress(refundAddress string) ApiQuotelimitRequest {
	r.refundAddress = &refundAddress
	return r
}

// the custom TTL in blocks for limit orders
func (r ApiQuotelimitRequest) CustomTtl(customTtl int64) ApiQuotelimitRequest {
	r.customTtl = &customTtl
	return r
}

// the quantity of swaps within a streaming swap
func (r ApiQuotelimitRequest) StreamingQuantity(streamingQuantity int64) ApiQuotelimitRequest {
	r.streamingQuantity = &streamingQuantity
	return r
}

// the affiliate fee in basis points
func (r ApiQuotelimitRequest) AffiliateBps(affiliateBps int64) ApiQuotelimitRequest {
	r.affiliateBps = &affiliateBps
	return r
}

// the affiliate (address or thorname)
func (r ApiQuotelimitRequest) Affiliate(affiliate string) ApiQuotelimitRequest {
	r.affiliate = &affiliate
	return r
}

func (r ApiQuotelimitRequest) Execute() (*QuoteLimitResponse, *http.Response, error) {
	return r.ApiService.QuotelimitExecute(r)
}

/*
Quotelimit Method for Quotelimit

Provide a limit order quote and memo for the provided limit order

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQuotelimitRequest
*/
func (a *LimitOrderApiService) Quotelimit(ctx context.Context) ApiQuotelimitRequest {
	return ApiQuotelimitRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return QuoteLimitResponse
func (a *LimitOrderApiService) QuotelimitExecute(r ApiQuotelimitRequest) (*QuoteLimitResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QuoteLimitResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LimitOrderApiService.Quotelimit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/thorchain/quote/limit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.height != nil {
		localVarQueryParams.Add("height", parameterToString(*r.height, ""))
	}
	if r.fromAsset != nil {
		localVarQueryParams.Add("from_asset", parameterToString(*r.fromAsset, ""))
	}
	if r.toAsset != nil {
		localVarQueryParams.Add("to_asset", parameterToString(*r.toAsset, ""))
	}
	if r.amount != nil {
		localVarQueryParams.Add("amount", parameterToString(*r.amount, ""))
	}
	if r.destination != nil {
		localVarQueryParams.Add("destination", parameterToString(*r.destination, ""))
	}
	if r.refundAddress != nil {
		localVarQueryParams.Add("refund_address", parameterToString(*r.refundAddress, ""))
	}
	if r.customTtl != nil {
		localVarQueryParams.Add("custom_ttl", parameterToString(*r.customTtl, ""))
	}
	if r.streamingQuantity != nil {
		localVarQueryParams.Add("streaming_quantity", parameterToString(*r.streamingQuantity, ""))
	}
	if r.affiliateBps != nil {
		localVarQueryParams.Add("affiliate_bps", parameterToString(*r.affiliateBps, ""))
	}
	if r.affiliate != nil {
		localVarQueryParams.Add("affiliate", parameterToString(*r.affiliate, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
