/*
Thornode API

Thornode REST API.

Contact: devs@thorchain.org
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// QuoteApiService QuoteApi service
type QuoteApiService service

type ApiQuoteswapRequest struct {
	ctx context.Context
	ApiService *QuoteApiService
	height *int64
	fromAsset *string
	toAsset *string
	amount *int64
	destination *string
	refundAddress *string
	streamingInterval *int64
	streamingQuantity *int64
	toleranceBps *int64
	liquidityToleranceBps *int64
	affiliateBps *int64
	affiliate *string
}

// optional block height, defaults to current tip
func (r ApiQuoteswapRequest) Height(height int64) ApiQuoteswapRequest {
	r.height = &height
	return r
}

// the source asset
func (r ApiQuoteswapRequest) FromAsset(fromAsset string) ApiQuoteswapRequest {
	r.fromAsset = &fromAsset
	return r
}

// the target asset
func (r ApiQuoteswapRequest) ToAsset(toAsset string) ApiQuoteswapRequest {
	r.toAsset = &toAsset
	return r
}

// the source asset amount in 1e8 decimals
func (r ApiQuoteswapRequest) Amount(amount int64) ApiQuoteswapRequest {
	r.amount = &amount
	return r
}

// the destination address, required to generate memo
func (r ApiQuoteswapRequest) Destination(destination string) ApiQuoteswapRequest {
	r.destination = &destination
	return r
}

// the refund address, refunds will be sent here if the swap fails
func (r ApiQuoteswapRequest) RefundAddress(refundAddress string) ApiQuoteswapRequest {
	r.refundAddress = &refundAddress
	return r
}

// the interval in which streaming swaps are swapped
func (r ApiQuoteswapRequest) StreamingInterval(streamingInterval int64) ApiQuoteswapRequest {
	r.streamingInterval = &streamingInterval
	return r
}

// the quantity of swaps within a streaming swap
func (r ApiQuoteswapRequest) StreamingQuantity(streamingQuantity int64) ApiQuoteswapRequest {
	r.streamingQuantity = &streamingQuantity
	return r
}

// the maximum basis points from the current feeless swap price to set the limit in the generated memo
func (r ApiQuoteswapRequest) ToleranceBps(toleranceBps int64) ApiQuoteswapRequest {
	r.toleranceBps = &toleranceBps
	return r
}

// the maximum basis points of tolerance for pool price movements to set the limit in the generated memo
func (r ApiQuoteswapRequest) LiquidityToleranceBps(liquidityToleranceBps int64) ApiQuoteswapRequest {
	r.liquidityToleranceBps = &liquidityToleranceBps
	return r
}

// the affiliate fee in basis points
func (r ApiQuoteswapRequest) AffiliateBps(affiliateBps int64) ApiQuoteswapRequest {
	r.affiliateBps = &affiliateBps
	return r
}

// the affiliate (address or thorname)
func (r ApiQuoteswapRequest) Affiliate(affiliate string) ApiQuoteswapRequest {
	r.affiliate = &affiliate
	return r
}

func (r ApiQuoteswapRequest) Execute() (*QuoteSwapResponse, *http.Response, error) {
	return r.ApiService.QuoteswapExecute(r)
}

/*
Quoteswap Method for Quoteswap

Provide a quote estimate for the provided swap.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQuoteswapRequest
*/
func (a *QuoteApiService) Quoteswap(ctx context.Context) ApiQuoteswapRequest {
	return ApiQuoteswapRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return QuoteSwapResponse
func (a *QuoteApiService) QuoteswapExecute(r ApiQuoteswapRequest) (*QuoteSwapResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QuoteSwapResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuoteApiService.Quoteswap")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/thorchain/quote/swap"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.height != nil {
		localVarQueryParams.Add("height", parameterToString(*r.height, ""))
	}
	if r.fromAsset != nil {
		localVarQueryParams.Add("from_asset", parameterToString(*r.fromAsset, ""))
	}
	if r.toAsset != nil {
		localVarQueryParams.Add("to_asset", parameterToString(*r.toAsset, ""))
	}
	if r.amount != nil {
		localVarQueryParams.Add("amount", parameterToString(*r.amount, ""))
	}
	if r.destination != nil {
		localVarQueryParams.Add("destination", parameterToString(*r.destination, ""))
	}
	if r.refundAddress != nil {
		localVarQueryParams.Add("refund_address", parameterToString(*r.refundAddress, ""))
	}
	if r.streamingInterval != nil {
		localVarQueryParams.Add("streaming_interval", parameterToString(*r.streamingInterval, ""))
	}
	if r.streamingQuantity != nil {
		localVarQueryParams.Add("streaming_quantity", parameterToString(*r.streamingQuantity, ""))
	}
	if r.toleranceBps != nil {
		localVarQueryParams.Add("tolerance_bps", parameterToString(*r.toleranceBps, ""))
	}
	if r.liquidityToleranceBps != nil {
		localVarQueryParams.Add("liquidity_tolerance_bps", parameterToString(*r.liquidityToleranceBps, ""))
	}
	if r.affiliateBps != nil {
		localVarQueryParams.Add("affiliate_bps", parameterToString(*r.affiliateBps, ""))
	}
	if r.affiliate != nil {
		localVarQueryParams.Add("affiliate", parameterToString(*r.affiliate, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
